<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
<style type="text/css">
body {
  margin: 0;
  padding: 0;
  background-image:url("https://lh3.googleusercontent.com/proxy/ELJqBQd0oBjfNq8P46WneiGK2RU4kblbUwD4SxGfNQXHzY7Nhrh1iG6w1ueiEgVutBqJU3he_GWfd-sNMF0LHGS60d1ZYP6aPkQ");
  background-size:cover;
  background-repeat: no-repeat;
}

</style>

</head>

<body>
<nav class="navbar navbar-default bg-dark">
         <div class="container-fluid">
              <div class="navbar-header">
               <a class="navbar-brand" href="#">
                <img class="rounded" alt="Logo" width="100px" src="https://i.pinimg.com/originals/30/10/dc/3010dc1829c10b3e645b89b917cf1c72.jpg">
               </a>
               <a class="navbar-brand" href="/" >
               <h4 style="color:blue;font-size:50px;font-style:italic;">splatz</h4>
               </a>
              </div>
             <nav class="navbar navbar-expand-sm bg-dark justify-content-end">
              <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="/Adminlogin/Register"><h5 style="font-size:25px;margin-right:40px;">Register</h5></a></li>
                <li class="nav-item"><a class="nav-link" href="/Performance"><h5 style="font-size:25px;margin-right:30px;">LearnPerformance</h5></a></li>
                <li class="nav-item"><a class="nav-link" href="/Performance1"><h5 style="font-size:25px;margin-right:30px;">ExamPerformance</h5></a></li>
                <li class="nav-item"><a class="nav-link" href="/"><h5 style="font-size:25px;">Logout</h5></a></li>
                </ul>
              </nav>
         </div>
   </nav>

          <div class="card" style="margin-top:50px;margin-left:500px;width:500px;background-color:black;opacity:0.8;height:500px;">
     <div class="card-body">
       <h3 class="card-title" style="text-align:center;color:red;">Admin Login</h3>
       <p class="card-text">
       <form action="/Adminlogin/Register/Details" method="post">
       <div class="form-group">
  <label for="username" style="color:green;">User Id:</label>
 <input type="text" class="form-control" placeholder="Enter user id" name="id">
</div>
 <div class="form-group">
  <label for="username" style="color:green;">Name:</label>
 <input type="text" class="form-control" placeholder="Enter Name" name="name">
</div>
<div class="form-group">
  <label for="username" style="color:green;">ImageName:</label>
 <input type="text" class="form-control" placeholder="Enter image name" name="path">
</div>
<div class="form-group" >
 <label for="pwd" style="color:green;">Password:</label>
 <input type="password" class="form-control" placeholder="Enter password" name="password">
</div>
</p>
      <center> <input type="submit" value="Register" style="margin-top:30px;"></center>
       </form>
     </div>
   </div>
 </div>    
</body>
</html>

